body
  background-color: darkkhaki !important
.title
  text-align: center
  font-size: 30px
  margin-top: 30px
  margin-bottom: 30px

.empty
  width: 10px
  height: 10px
  float: left
  background-color: ghostwhite

.wall
  @extend .empty
  background-color: gray

.weapon
  @extend .empty
  background-color: orange

.enemy
  @extend .empty
  background-color: red

.boss
  @extend .empty
  background-color: #171e2e

.player
  @extend .empty
  background-color: blue

.health
  @extend .empty
  background-color: green

.portal
  @extend .empty
  background-color: #ae61ff

.grid
  display: table
  margin: 0 auto
  width: 1000px
  height: 400px

.message
  text-align: center
  font-size: 100px

.info
  float: left
  margin-right: 20px

.footer
  margin-top: 20px
  margin-left: 30px
  float: left
.toggle
  background-color: black !important
.entities
  margin-left: 330px
.header
  margin-left: 300px
  margin-bottom: 50px
